

.logo{
    width: 60px;
    height: 40px;
}

.cont{
    background-color:#651FFF ;
    border:"1px solid red";
    color: white;
    width:"90%";
    margin:"auto";
    border:"1px solid black"
}

.nav{
    display:'flex';
    border:"10px solid black";
}